[includeIf "gitdir:/"]
  path = ~/.gitconfig-personal
[includeIf "gitdir:~/Documents/Code/"]
  path = ~/.gitconfig-work
[includeIf "gitdir:~/Documents/work/"]
  path = ~/.gitconfig-work
[color]
	ui = always
[core]
	excludesfile = ~/.gitignore
	editor = vim
[alias]
	st = status -s
[github]
  user = soylentgrn
[push]
	default = current
[pull]
	ff = only
[merge]
	ff = false
[commit]
  gpgSign = true
[tag]
	forceSignAnnotated = true
[gpg]
	program = gpg
