[user]
	email = soylentgrn@gmail.com
	name = Sean Murphy
[color]
	ui = always
[core]
	excludesfile = ~/.gitignore
	editor = vim
[alias]
	co = checkout
	br = branch
	st = status -s
	cm = commit
[github]
        user = soylentgrn
[push]
	default = matching
